*.tlog
*.obj
*.log
*.lastbuildstate
*.pdb
*.idb
*.vcxproj
*.vcxproj.filters
*.sln
TTest/
Test/
JetCore/
Release/
RelWithDebInfo/
Win32/
x64/
MinSizeRel/
opengl/
os/
Racer.dir/
Jet.dir/
DepTest/
Debug/
CMakeFiles/
build/
llvm-3.7/
